.header{
display: flex;
justify-content: space-around;
align-items: center;
background-color: bisque;
background-image: url("https://images.pexels.com/photos/2719301/pexels-photo-2719301.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
background-position: center;
background-size: cover;
color: white;  
}
.inputSearch{
    height: 26px;
    width: 20rem;
    border-radius: 15px;
}